CongresoVisible.Phone/SampleData/PartyViewModelDataSource/PartyViewModelDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.PartyViewModelDataSource" targetNamespace="Expression.Blend.SampleData.PartyViewModelDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PartyViewModelDataSource" type="tns:PartyViewModelDataSource" />
  <xs:complexType name="PartyViewModelDataSource">
    <xs:sequence>
      <xs:element name="People" type="tns:People" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PeopleItem" type="tns:PeopleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeopleItem">
    <xs:sequence>
      <xs:element name="Party" type="tns:Party" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\Imagenes" name="SmallImage" type="tns:Basic-Image" />
    <xs:attribute name="CandidateFor" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>