CongresoVisible.Phone/SampleData/MainViewModelDataSource/MainViewModelDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainViewModelDataSource" targetNamespace="Expression.Blend.SampleData.MainViewModelDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainViewModelDataSource" type="tns:MainViewModelDataSource" />
  <xs:complexType name="MainViewModelDataSource">
    <xs:sequence>
      <xs:element name="Following" type="tns:Following" />
      <xs:element name="People" type="tns:People" />
      <xs:element name="Parties" type="tns:Parties" />
      <xs:element name="Filters" type="tns:Filters" />
      <xs:element name="SelectedPerson" type="tns:SelectedPerson" />
      <xs:element name="RandomPeople" type="tns:RandomPeople" />
      <xs:element name="SelectedParty" type="tns:SelectedParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Following">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FollowingItem" type="tns:FollowingItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FollowingItem">
    <xs:sequence>
      <xs:element name="Party" type="tns:Party" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="CandidateFor" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\Imagenes" name="SmallImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:attribute blend:Format="Company Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PeopleItem" type="tns:PeopleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeopleItem" />
  <xs:complexType name="Parties">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PartiesItem" type="tns:PartiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartiesItem">
    <xs:attribute blend:FormatParameters="10,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\Imagenes\Partidos" name="Logo" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Filters">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FiltersItem" type="tns:FiltersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FiltersItem" />
  <xs:complexType name="SelectedPerson" />
  <xs:complexType name="RandomPeople">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RandomPeopleItem" type="tns:RandomPeopleItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RandomPeopleItem">
    <xs:sequence>
      <xs:element name="Party" type="tns:Party1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="Assets\Imagenes" name="MediumImage" type="tns:Basic-Image" />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="CandidateFor" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Party1">
    <xs:attribute name="Logo" type="xs:string" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SelectedParty">
    <xs:sequence>
      <xs:element name="People" type="tns:People1" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="People1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PeopleItem1" type="tns:PeopleItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeopleItem1">
    <xs:sequence>
      <xs:element name="Party" type="tns:Party2" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="CandidateFor" type="xs:string" />
    <xs:attribute blend:FormatParameters="Assets\Imagenes" name="SmallImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Party2">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>